<div class="container">
  <app-cockpit 
      (sc)="onServerAdded($event)"
      (blueprintCreated)="onBlueprintAdd($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements"
      [svrElement]="serverElement">
      <div
      class="panel panel-default">
      <div class="panel-heading" #heading></div>
      <div class="panel-body">
        <p>{{serverElement.type}}</p>
        <p>{{serverElement.name}}</p>
        <p>{{serverElement.content}}</p>
      </div>
    </div>
      </app-server-element>
    </div>
  </div>
</div>
